body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.9);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header h1 {
  color: rgb(9, 9, 242);
  margin: 0;
}

.menu {
  position: relative;
}

#menuButton {
  background: #222;
  color: #fff;
  border: 1px solid #555;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  list-style: none;
  background: #222;
  padding: 0;
  margin: 0;
  border-radius: 6px;
}

.dropdown li a {
  display: block;
  padding: 0.7rem 1rem;
  color: #fff;
}

.dropdown li a:hover {
  background: #333;
}

.hero {
  height: 70vh;
  background: url("bilder/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.hero h2 {
  font-size: 3rem;
}

.hero span {
  color: rgb(244, 13, 25);
}



.categories {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
}

.card {
  width: 260px;
  height: 200px;
  background: #120101;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  position: absolute;
  margin-top: -80px;
  width: 100%;
}

.card p {
  position: absolute;
  margin-top: -40px;
  width: 100%;
  color: #ccc;
}

.card:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #333;
}

.card {
  position: relative;
}


